﻿@model Web.MVC.Models.AddPartsViewModel


    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.SelectedPartId)
        @Html.HiddenFor(model => model.DeleteOrderedPartId)


        <div class="form-group">
            <label class="control-label col-md-1">Part:</label>
            <div class="col-md-11">
                @Html.TextBox("PartName", "", new { @class = "form-control", @autocomplete = "off" })

            </div>
        </div>

    </div>


    <br />
    <h4>Selected Parts</h4>
    

    <table class="table">
        <tr>

            <th>
                Part
            </th>
            <th>
                Amount
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model.AddedServices)*@
@for (var i = 0; i < Model.AddedParts.Count; i++)
{
    @Html.HiddenFor(m=> Model.AddedParts[i].Id)
            <tr>

                <td>
                    @Html.DisplayFor(modelItem =>Model.AddedParts[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.AddedParts[i].Amount)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.AddedParts[i].Quantity)
                    @Html.ValidationMessageFor(modelItem=>Model.AddedParts[i].Quantity,"", new { @class = "text-danger" })
                </td>
                <td>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    <a href="javascript:void(0)" onclick="$('#DeleteOrderedPartId').val('@Model.AddedParts[i].Id');  $('form').submit();">Delete</a>
                </td>
            </tr>
        }

    </table>




