﻿@model Web.MVC.Models.AddPartsViewModel

@{
    ViewBag.Title = "Add Parts";
}

<h2>Add Parts</h2>
<br />
    @using (Ajax.BeginForm("AddParts", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "dvAddParts", OnSuccess= "InitializePartNameAutoSuggest();InitializeValidationOnPartialPostback();", OnFailure= "InitializePartNameAutoSuggest();InitializeValidationOnPartialPostback();" }, new { @Id = "frmMain" }))
    {
        @Html.Hidden("OrderId", Request.QueryString["OrderId"].ToString())
        <div id="dvAddParts">
            @{
                Html.RenderPartial("_AddedParts", Model);
            }
            </div>

            <input type="submit" name="btnsubmit" value="Finish" class="btn btn-primary" />


                }

            @section scripts
{
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/ajaxform")
@Scripts.Render("~/bundles/Order")
            }
