﻿@model Web.MVC.Models.AddServicesViewModel

@{
    ViewBag.Title = "Add Services";
}

<h2>Add Services</h2>
<br />
    @using (Ajax.BeginForm("AddServices", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "dvAddServices", OnSuccess= "InitializeServiceNameAutoSuggest();InitializeValidationOnPartialPostback();", OnFailure= "InitializeServiceNameAutoSuggest();InitializeValidationOnPartialPostback();" }, new { @Id = "frmMain" }))
    {
        @Html.Hidden("OrderId", Request.QueryString["OrderId"].ToString())
      

        
            <div id="dvAddServices">
                @{
                    Html.RenderPartial("_AddedServices", Model);
                }
            </div>


                <input type="submit" name="btnsubmit" value="Next: Add Parts" class="btn btn-default" />



           
                    }


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajaxform")
    @Scripts.Render("~/bundles/Order")
}