﻿@using PagedList.Mvc;
@using PagedList;
@model Web.MVC.Models.OrderHistoryViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Order History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<br />

@using (Html.BeginForm("Index","Order",FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">

       

        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.CarId)

        <div class="form-group">
            <label class="control-label ">Order Number:</label>
            <div class="">
                @Html.EditorFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control typeahead", @autocomplete = "off" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label ">Customer Name/Mobile Number:</label>
            <div class="">
                @Html.TextBox("PhoneNumber","",  new { @class = "form-control typeahead", @autocomplete = "off"  })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label ">Car Registration Number:</label>
            <div class="">
                @Html.TextBox("RegistrationNumber","", new { @class = "form-control typeahead", @autocomplete = "off" })
            </div>
        </div>

        </div>
}
<br /><br />

        <table class="table">
            <tr>
                <th>
                   Order No.
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    Car Registration No.
                </th>
                <th>
                    Created On
                </th>
               
                <th>
                   Amount
                </th>
                <th>
                    Status
                </th>
              
            </tr>

            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                       @(item.Customer.FirstName + " " + item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                   <td>
                       @item.Status.ToString()
                   </td>
                   
                </tr>
            }

        </table>
        @Html.PagedListPager(Model.Orders, page => Url.Action("Index", new { page,OrdeId=Model.OrderId, CustomerId=Model.CustomerId, CarId=Model.CarId,PhoneNumber= ViewBag.PhoneNumber,RegistrationNumber= ViewBag.RegistrationNumber }))


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/OrderHistory")
}